<launch>

  <!-- <arg name="use_urdf" default="true"/> -->
  <!-- <arg name="armms_robotType" default="at1x" /> -->
  <!-- <arg name="armms_robotName" default="$(arg armms_robotType)"/> -->

<!--
  <group if="$(arg use_urdf)">
      <param name="robot_description" textfile="$(find armms_description)/urdf/at1x.urdf"/> 
  </group>
-->
  <arg name="mock_hw" default="false" />
  <arg name="rosbag_record" default="true" />
  <include file="$(find armms_driver)/launch/at1x_controller.launch" pass_all_args="true" />

  <node name="armms_rpi_node" pkg="armms_rpi" type="armms_rpi" output="screen">
      <rosparam file="$(find armms_rpi)/launch/config/rpi_settings.yaml" /> 
  </node>

  <node name="armms_intent_node" pkg="armms_user_intent" type="armms_user_intent.py" output="screen">
      <rosparam file="$(find armms_user_intent)/launch/config/config.yaml" /> 
  </node>

  <node name="armms_at1x_control_node" pkg="armms_control" type="armms_at1x_control" output="screen">
      <rosparam file="$(find armms_control)/launch/config/at1x_control_settings.yaml" /> 
  </node>

  <group if="$(arg rosbag_record)">
      <node name="armms_recorder" pkg="remote_rosbag_record" type="record" ns="armms_recorder">
          <rosparam file="$(find armms_bringup)/launch/config/recorded_topics.yaml"/>
          <param name="prefix" value="robot"/>
          <param name="append_date" value="true"/>
          <param name="quiet" value="true"/>
          <param name="verbose" value="false"/>
          <param name="compression" value="lz4"/>
      </node>
  </group>

</launch>
